.left-section {
  position: absolute !important;
  width: 100%;
  left: -100%;
  background-color: #aaa;
  height: 100%;
  transition-duration: 1s;
  z-index: 99;
  top: 0;
}
.site-tree-button {
  position: absolute;
  border: solid 1px;
  padding: 10px;
  top: 45%;
  z-index: 100;
}
.page-icon {
  padding: 5px;
  border: solid 2px #fff;
  width: 45px;
  font-size: 10px;
  text-align: center;
  display: inline-block;
}
.v-directory {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  z-index: 999;
  height: 100%;
  display: none;
}
.v-directory.show {
  display: block;
}
.page-icon .text {
  background-color: #aaa;
  padding: 3px;
  left: 125%;
  position: relative;
  display: inline-block; 
}
.edit-page-icon {
  background-color: #aaa;
  padding: 3px;
  display: inline-block; 
  border: solid 1px;
}
.site-tree {
  position: absolute;
  width: 100%;
  left: -100%;
  background-color: #aaa;
  height: 100%;
  transition-duration: 1s;
  z-index: 99;
}
.data-claster {
  padding: 10px;
  border: solid 2px #fff;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
}
.connector-dot {
  height: 10px;
  width: 10px;
  border: solid 1px #fff;
  display: inline-block;
}
.data-connector-color {
  position: absolute;
  height: 100%;
  width: 3px;
  display: inline-block;
  top: 0;
}
.store-connector-line {
  transition-duration: 1s;
  height: 1px;
  background-color: #fff;
  width: 0;
  position: absolute;
}
.data-connector-color-v {
  position: absolute;
  height: 3px;
  display: inline-block;
}
.site-tree.show {
  left: 0%;
}
.left-section.show {
  left: 0%;
}
.right-section {
  z-index: 99;
  top: 0;
  position: absolute !important;
  width: 100%;
  left: 100%;
  background-color: #aa0;
  transition-duration: 1s;
  height: 100%;
}
.right-section.show {
  left: 0%;
}
.select-for-add {
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
  border: solid 1px;
}
.the-editor {
  height: calc(100% - 50px);
  border: solid 1px #aaa;
  padding: 10px;
}
.mid-section {
  padding: 10px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 30px;
}
.v-dir {
  background-color: #aaa; 
}
.mid-section.mobile {
  width: 450px;
  margin: auto;
  left: 32%;
}
.data-claster-holder {
  height: 100%;
  display: inline-block;
}
.the-folder-tree {
  top: 0;
  left: 50%;
  width: 100%;
  display: inline-block;
  position: relative;
}
.folder-tree-holder {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #aaa; 
}
////////////////////////
.board {
  padding: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  border: solid;
}
.comp-list{
  border: solid;
  min-height: 100px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
}
.a-test-component {
  background-color: #aa0;
  padding: 15px;
  font-size: 20px;
}
.a-test-component-II {
  background-color: #0aa;
  padding: 15px;
  font-size: 20px;
}
.a-grid {
  height: 200px;
  width: 100%;
  border: solid 1px;
  padding: 0;
}
.a-row {
  min-height: 100px;
  width: 100%;
  border: solid 1px;
}
.the-plate {
  position: relative;
  width: 300%;
  display: inline-block;
}
.the-tree-json {
  height: 100%;
}
.goLeft {
  left: -100%;
}
.goRight {
  left: 100%;
}
.go-right {
  z-index: 100;
  position: fixed;
  right: 0;
  height: 45px;
  width: 45px;
  background-color: #0ff;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  top: 40%;
}
.close-icon {
  border: solid 1px;
}
.go-left {
  z-index: 100;
  position: fixed;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #0ff;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  top: 40%;
}
.a-grid .left,
.a-grid .left {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100px;
  border: solid 1px;
  padding: 0;
}

.comp-holder {
  margin: 10px 0;
}
#root {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}