.left-section {
  position: absolute !important;
  width: 100%;
  left: -100%;
  background-color: #ccc;
  height: 100%;
  transition-duration: 1s;
  z-index: 99;
  top: 0;
}
body {
  width: 100%;
  overflow: hidden;
}
.common-btn {
  color: #444;
  border: 1px solid #CCC;
  background: #fff;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor: pointer;
  vertical-align: middle;
  max-width: 131px;
  padding: 5px;
  text-align: center;
  margin: 5px;
  min-width: 140px;
}
.site-tree-button {
  position: absolute;
  border: solid 1px;
  padding: 10px;
  top: 45%;
  z-index: 100;
}
.button-list {
  display: inline-block;
  width: 86% !important;
  float: right !important;
  padding-right: 5px;
}
.page-icon {
  padding: 5px;
  border: solid 2px #fff;
  width: 45px;
  font-size: 10px;
  text-align: center;
  display: inline-block;
}
.folder-icon {
  padding: 5px;
  border: solid 2px #fff;
  width: 45px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  background-color: #ffa;
}
.small-plus {
  padding: 10px;
  border: solid 1px #fff;
  font-size: 15px;
}
.v-directory {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  z-index: 999;
  height: 100%;
  display: none;
}
.v-directory.show {
  display: block;
}
.page-icon .text {
  background-color: #ccc;
  padding: 3px;
  left: 125%;
  position: relative;
  display: inline-block;
}
.edit-page-icon {
  background-color: #ccc;
  padding: 3px;
  display: inline-block;
  border: solid 1px;
}
.site-tree {
  position: absolute;
  width: 100%;
  left: -100%;
  height: 100%;
  transition-duration: 1s;
  z-index: 99;
}
.data-claster {
  padding: 5px;
  margin-left: 5px;
  border: solid 2px #fff;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
  border-color: #ccc;
}
.connector-dot {
  height: 10px;
  width: 10px;
  border: solid 1px #fff;
  display: inline-block;
  background-color: #fff;
}
.data-connector-color {
  position: absolute;
  height: 100%;
  width: 3px;
  display: inline-block;
  top: 0;
}
.store-connector-line {
  transition-duration: 1s;
  height: 1px;
  background-color: #fff;
  width: 0;
  position: absolute;
}
.data-connector-color-v {
  position: absolute;
  height: 3px;
  display: inline-block;
}
.site-tree.show {
  left: 0%;
}
.left-section.show {
  left: 0%;
}
.right-section {
  z-index: 99;
  top: 0;
  position: absolute !important;
  width: 100%;
  left: 100%;
  background-color: #aa0;
  transition-duration: 1s;
  height: 100%;
}
.right-section.show {
  left: 0%;
}
.select-for-add {
  display: inline-block;
  background-color: #fff;
  padding: 1px 7px;
  border: solid 1px;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  background-color: #00bcaa;
  margin-bottom: 10px !important;
}
.the-editor {
  height: calc(100% - 50px);
  border: solid 1px #ccc;
  padding: 10px;
}
.site-tree-btn {
  margin-left: 18px;
  margin: 6px 6px 3px 18px;
  border-radius: 20px;
  display: inline-block;
  width: 150px;
  background-color: #050d9e;
  color: #fff;
}
.asset-mgmt-btn {
  margin-left: 18px;
  margin: 6px 18px 3px 18px;
  border-radius: 20px;
  display: inline-block;
  width: 150px;
  background-color: #050d9e;
  color: #fff;
}
.branch-drop-down {
  background-color: #ff661b !important;
  text-shadow: none !important;
}
.site-tree {
  background-color: #ccc;
}
.toggle-view-btn {
  float: right;
  background-color: #00bcaa;
  color: #fff;
}
.build-tree-btn {
  margin-left: 18px;
  margin: 6px 18px 3px 18px;
  border-radius: 20px;
  display: inline-block;
  width: 150px;
  background-color: #ff661b;
  color: #fff;
}
.mid-section {
  padding: 10px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 35px;
}
.v-dir {
  background-color: #ccc;
}
.mid-section.mobile {
  width: 450px;
  margin: auto;
  left: 32%;
}
.data-claster-holder {
  height: 100%;
  display: inline-block;
  border-color: #ccc;
}
.the-folder-tree {
  top: 0;
  left: 50%;
  width: 100%;
  display: inline-block;
  position: relative;
}
.quote {
  width: 100%;
  text-align: center;
  margin-top: 250px;
  font-family: 'Markazi Text', serif;
  font-size: 2em;
  position: relative;
  display: inline-block;
}
.quote h1 {
  font-size: 4em;
  line-height: 10px;
}
.delete-element {
  height: 20px;
  width: 250px;
  border: solid 1px;
  display: inline-block;
}
.a-complex-grid {
  border: solid 1px;
  width: 100%;
  min-height: 100px;
}
.a-complex-grid .top,
.a-complex-grid .bottom {
  width: 100%;
  position: relative;
  display: inline-block;
  min-height: 70px;
  border: solid 1px;
}
.mid-left {
  width: 25%;
  display: inline-block;
  position: relative;
  border: solid 1px #ccc;
  height: 100%;
}
.mid-right {
  width: 75%;
  display: inline-block;
  position: relative;
  border: solid 1px #ccc;
  height: 100%;
}
.a-complex-grid .mid {
  height: 200px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.folder-tree-holder {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #ccc;
}
////////////////////////
.board {
  padding: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  border: solid;
}
.comp-list{
  border: solid;
  min-height: 100px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  margin: auto;
  float: unset !important;
  background-color: #fff;
  border-color: transparent;
}
.a-test-component {
  background-color: #e5e5e5;
  padding: 15px;
  font-size: 20px;
}
.a-test-component-II {
  background-color: #0aa;
  padding: 15px;
  font-size: 20px;
}
.a-grid {
  height: 200px;
  width: 100%;
  border: solid 1px;
  padding: 0;
}
.a-row {
  min-height: 100px;
  width: 100%;
  border: solid 1px;
}
.the-plate {
  position: relative;
  width: 300%;
  display: inline-block;
}
.the-tree-json {
  height: 100%;
}
.goLeft {
  left: -100%;
}
.goRight {
  left: 100%;
}
.go-right {
  z-index: 100;
  position: fixed;
  right: 11;
  height: 45px;
  width: 45px;
  background-color: #050d9e;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  top: 50%;
  text-align: center;
  color: #fff;
}
.close-icon {
  border: solid 1px;
  float: right;
}
.btn.btn-default.dropdown-toggle {
  width: 150px !important;
  color: #fff;
}
.btn.caret {
  margin-left: 8px !important;
}
.page-drop-down {
  background-color: #00bcaa !important;
  text-shadow: none !important;
}
.dropdown-menu {
  padding-left: 10px !important;
}
.go-left {
  z-index: 100;
  position: fixed;
  left: 11;
  height: 45px;
  width: 45px;
  background-color: #050d9e;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  top: 50%;
  text-align: center;
  color: #fff;
}
.a-grid .left,
.a-grid .left {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100px;
  border: solid 1px;
  padding: 0;
}

.comp-holder {
  margin: 10px 0;
}
#root {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
